{% extends "root.html" %}

{% block body %}

<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
        <h1 class="ui inverted header">
          En attendant les bons plans...
        </h1>
        <h2>Partager vos bons plans terroir.</h2>
        <a class="ui huge primary button" href="ad/">Déposer un bon plan <i class="right arrow icon"></i></a>
      </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Vive le Saint Nectaire !</h3>
          <p>Bla bla bla.</p>
          <h3 class="ui header">Le gras c'est la vie...</h3>
          <p>Bla bla bla.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/fromage-saint-nectaire.jpg" class="ui large bordered rounded image">
        </div>
      </div>
  </div>

{% endblock %}
